/****************************************************************** 
 * override base, body, h1, links and btns *
 *************************************************************************** */
body {
	margin: 0;
	padding: 0;
	font-family:  Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align:center;
	background-color: #ffffff;
}

a {
	color: #111111;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #222222;
	text-decoration: underline;
}
.img-rounded {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1, h2, h3 {padding-bottom:.4em;}
h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 30.5px;
}

h2 {
  font-size: 27.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

.btn, input.btn {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */

	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #111111;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e6e6e6;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #cccccc;
	*border: 0;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	}
.btn:active,
.btn.active {
	background-color: #cccccc \9;
	}
.btn:first-child {
	*margin-left: 0;
}
.btn:hover, 
input.btn:hover,
.btn:focus {
	color: #222222;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn.active,
input.btn:active, 
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	}



/****************************************************************** 
 * containers or wrappers *
 *************************************************************************** */
#parallax .mastWrap {background:url(../images/bg_blacktran.png) top left repeat-x;height:100px;max-width:100%;}
#fixedtop .mastWrap  {
	background:#363636;
	
	}
.contentWrap .top {

	padding-top:0;
	text-align:left;
	}
#fixedtop .contentWrap , .contentWrapBack, #fixedtop .alert {margin-top:60px;} /* clear fixed top nav when on */
.row.contentWrapBack div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
	min-height:250px;
}
#trig {
    margin: 10px;
}
.shift-left {
    margin-left: -35% !important;
}
.shift-right {
    margin-left: 0px !important;
}
.contentWrapBack .col-xs-0 {
    width: 0;
    margin-left: 0;
}
.contentWrap .middle {
	
	text-align:left;
	}
.contentWrap .bottom {
	
	}	
.border-bottom {
	padding-bottom: 16px;
	border-bottom: 1px #f4f4f2 solid;
	}

.footWrap {
	background-color:#efefef;
	color:#fff;
	}
.contentWrap ol, .contentWrap ul {
	list-style: none;
	}
/*******************************
* for parallax classes *
********************************/
#intro, #second, #third, #parallax .mastWrap, #parallax .contentWrap, #parallax .footWrap {
	width: 100%; max-width:100%; margin:0;padding:0;
}

#intro{
	background:url(../images/firstBG.jpg) 50% 0 no-repeat fixed;
	
	height: 600px;
	margin: 0;
	padding: 0;
}

#second{
	background: url(../images/secondBG.jpg) 50% 0 no-repeat fixed;
	
	height: 750px;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#second .bg{
	background: url(../images/ad_phonewithMWBscreen.png) 0% 0% no-repeat fixed;
	height: 950px;
	margin: 0;
	padding: 150px 0 0 0;
	position: absolute;
	width:100%;
	z-index: 5;
}

#third{
	background: url(../images/thirdBG.jpg) 50% 0 no-repeat fixed;
	margin:0;
	height:280px;
	padding: 0;	
}

/******************************
 * for page slide out nav *
 ********************************  */
/*sets the  page slide for left nav */
#content {
	width: 980px;
	padding: 10px;
	margin: 0 auto;
	}

ul#nav { 
	padding-left: 0; 
	list-style: none; 
	width: 100%; 
	margin-bottom: 40px; 
	}
ul#nav:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
	}

#content ul#nav li { 
	float: left;  
	text-align: center; 
	}
#content ul#nav.nav-1 li {
  width:100%;
  max-width:100%;
}
#content ul#nav.nav-2 li {
  width:49.8%;
  max-width:49.8%;
}
#content ul#nav.nav-3 li {
  width:33.133333333333%;
  max-width:33.133333333333%;
}
#content ul#nav.nav-4 li {
  width:24.8%;
  max-width:24.8%;
}
#content ul#nav.nav-5 li {
  width:19.8%;
  max-width:19.8%;
}
#content ul#nav.nav-6 li {
  width:16.466666666667%;
  max-width:16.466666666667%;
}
#content ul#nav.nav-7 li {
  width:14.085714285714%;
  max-width:14.085714285714%;
}
#content ul#nav.nav-8 li {
  width:12.3%;
  max-width:12.3%;
}
#content ul#nav.nav-9 li {
  width:10.911111111111%;
  max-width:10.911111111111%;
}
#content ul#nav.nav-10 li {
  width:9.8%;
  max-width:9.8%;
}
#content ul#nav.nav-11 li {
  width:8.8909090909090%;
  max-width:8.8909090909090%;
}
#content ul#nav.nav-12 li {
  width:8.1333333333333%;
  max-width:8.1333333333333%;
}
#content ul#nav a { 
	display: block; 
	background: #000;
	color: #FFF; 
	font-weight: bold; 
	padding: 10px; 
	border-right: 1px solid #FFF;
	}
#content ul#nav a:hover { background: #333; }

.open {
	display: none;
	width: 40px;
	height: 30px;
	margin-bottom: 10px;
	background: url(../images/menu.png) center center no-repeat #333;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-border-radius: 8px;
	box-shadow: inset 0 0 3px #000;
	text-indent: -999999px;
	border: 0;
	}
#pageslide {
	/* These styles MUST be included. Do not change. */
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;

	/* Specify the width of your pageslide here */
	width: 260px;
	padding: 20px;

	/* These styles are optional, and describe how the pageslide will look */
	background-color: #333;
	color: #FFF;
	-webkit-box-shadow: inset 0 0 5px 5px #222;
	-moz-shadow: inset 0 0 5px 5px #222;
	box-shadow: inset 0 0 5px 5px #222;
	}

#secondary { display: none; color: #EFEFEF; }
#secondary h2 { color: #FFF; }

/****************************************************************** 
 * logo AND BRAND *
 *************************************************************************** */



.logo {
	display:inline-block;
	text-align:left;
	position:relative;
	
	}	
.logo img {
	width:100%;
	max-width:375px;
	}


/****************************************************************** 
 * navigation icons on mobile *
 *************************************************************************** */



.btn.btn-navbar img {
	width:100%;
	min-width:32px;
	max-width:44px;
	}


.btn.btn-navbar {
	max-width:50px;
	padding:8px;
	text-align:center;
	margin-right:20px;
	}

 
.login-collapse.collapse {
	height: auto;
	text-align: left;
	}

/****************************************************************** 
 * ovderride primary nav or main nav *
 *************************************************************************** */

.nav {
	position: relative;
	clear:both;
	height:auto;
	margin:0 auto; 
	border:1px solid #cfo;
}
#parallax .nav {background:#fff;}
.navbar-fixed-top .nav {display:inline;}
.navbar-fixed-top .nav li {display:inline-block; width:auto;}
.navbar-fixed-top .nav li a, .navbar-fixed-top .uti li a {color:#fff;}
.navbar .nav > li > a {
}
.navbar .nav > li > a:hover, .navbar .nav > li.active > a {
	color:#300;
	text-decoration: none;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
	
	text-decoration: none;
}






/****************************************************************** 
 * utility *
 *************************************************************************** */




.uti {
	padding: 0;
	width:auto;
	position:relative;
	text-align:right;
	}
	
.uti ul {
	margin: 0;
	padding: 0;
	display:inline-block;
	white-space:nowrap;
	position:relative;
	}

.uti li {
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
	list-style:none;
	position:relative;
	top:0;
	vertical-align:top;
	}
li.searchArea {
	display:inline; 
	}
.uti a:link, .uti a:visited {
	text-decoration: none;
	padding: 10px 10px 0 10px;
	display: inline-block;

	}
#parallax .uti a {color:#f7f7f7;}
.uti a:hover, .uti a:active {

	}


/****************************************************************** 
 * logins *
 *************************************************************************** */

	

.loginArea {
	width:100%;
	position:relative;
	
	}
#parallax .loginArea {width:60%;text-align:left;}
.loginArea h1 {
	position:relative;
	padding:0 0 10px 0; 
	
	}
.loginOB {
	padding: 12px 8% 12px 6%;
	position:relative;
	}
.loginCol {margin-top:10px;}



/****************************************************************** 
 * search *
 *************************************************************************** */



.searchArea {
	position:relative;
	display:inline;
	}
.searchArea form {
	position:relative;
	top:0;
	vertical-align:top;
	margin:0;
	padding:0;
	}





/****************************************************************** 
 * special modules or containers *
 *************************************************************************** */

.module {
	border:1px solid #fbfbfb;
	background:#efefef;
	padding: 0 5% 10px 5%;
	text-align:left;
	}
#parallax .module {background:none;}
.highlight li {
	margin-left:-12px;
	padding: 12px 12px;
	}
.highlight li:hover {
	color:#fff;
	background:#666;
	}
.highlight li:hover a {color:#fff;}

.module h1 {
	
	background:none;
	padding:0;
	margin:0;
	}

.module a:link, .module a:visited {
	padding:11px 0;
	text-decoration:none;
	}
.module a:active, .module a:hover { 
	text-decoration:none;
	
	}
.module li.firstLi {
	
	}
.top .module {min-height:100px;}
.middle .module {min-height:240px;}
.bottom .module {min-height:240px;}


/****************************************************************** 
 * rates *
 *************************************************************************** */
.rateTxt img {
	
	}
.rates {
	
	}

.rateTxt {
	font-size:24px;
	}

.rateTxtsm {font-size:8px;}
/****************************************************************** 
 *main promotion *
 *************************************************************************** */
.slides {
	position: relative;
	
	}
.promoMain .promoImg {
	position:relative; 
	top:0;
	left:0;
	z-index:10;
	}
.promoMain .promoImg img {width:100%;}

.promoMain .promoTxt {
	font-size:28px;
	line-height:normal;
	z-index:300;
	position:absolute;
	top:0px;
	font-family: 'Istok Web', sans-serif;
	margin-left:20px;
	margin-top:20px;
	}
.promoMain .promoTxt h1 {
	font-size:33px;
	line-height:28px;
	margin:10px 0px 5px 0;
	}
.promoMain .promoTxt p {
	line-height:25px; 
	padding-top:0;
	margin-top:0; 
	}
.flexslider.promoMain {
	position:relative;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	max-width:100%;
	}

/****************************************************************** 
 * smaller promotions with scale on hover for images*
 *************************************************************************** */
 .flexslider.promoSmall, .slider {
	position:relative;
	margin-top:0;
	z-index: 500;
	}
	

.promoSmall {
	background:#ccc;
	min-height: 50px;
	padding: 0 75px 0;
	font-size: 17px;
	}
#parallax .promoSmall {background:none;}
.promoSmall ul.slides {margin: 0;padding:0;}
.promoSmall ul.slides li {
	margin: 0;
	padding:10px 15px; 
	min-height:140px;
	max-height:140px;
	overflow:hidden;
	}
	
.promoSmall h1 {line-height:28px;padding-bottom:0; margin-bottom:0;}
.promoSmall p {line-height:20px;padding-top:0; margin-top:5px;}
/****************************************************************** 
 * smaller promotions with scale on hover for images*
 *************************************************************************** */
.promoSmall img {
	width: 100%;
	-webkit-box-shadow:  2px 2px 1px 1px rgba(000, 000, 000, .15);
	box-shadow:  2px 2px 1px 1px rgba(000, 000, 000, .15);
	-webkit-border-radius: 4px;
	border-radius:4px;
	}
.promoSmall a img { 
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out; 
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out; 
	}
.promoSmall a:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05); 
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05); 
	}

/****************************************************************** 
 * content area on backpages *
 *************************************************************************** */
.content {
	padding: 0 0 30px 0;
	clear:both;
	font-size:14px;
	line-height:1.75em;
	text-align:left;
	border-top: none;
	}
	
.content ul, .content ol {
	margin: 0 0 0 0;
	padding: 0 0 6px 0;
	}
	
.content ul li { 
	padding: 0 0 6px 20px;
	}
	
.content ol li {
	margin: 0 0 6px 25px;
	}
	/*mixed lists */
.content ul ul, .content ol ol {
	margin-bottom: -6px;
	padding: 6px 0 0 0;
	}

.content ul li, .content ol li ul li, .content ol li ul li ol li ul li {
	background: url(../images/bullet.png) no-repeat 0 .5em;
	list-style:none;
	}
.content ol li, .content ol li ol li, .content ul li ol li ol li {
	background:none;
	list-style:upper-roman;
	}
.content ol li ol li {
	background:none;
	list-style:lower-alpha; 
	}

.content ul ul li {
	background: url(../images/bullet2.png) no-repeat 0 .1em;
}

.contentImg { /* ensure that there is a width and height attribute on the image in case the WYSIWYG editor assigns a snippet's image a width or height of 0 */
	padding:.5em 2%;
	width:auto;
	float:right;
	margin:0 0 .5em 3%;
	}
.content img {max-width:100%;}	 /*image punch*/


.content h1:first-child,
.content h1:first-of-type {
	
	}

blockquote {border-left:0;}
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 50px;
	position: relative;
	left: -20px;
	top: 0;
	color: #7a7a7a;
}
blockquote cite {
	color: #999999;
	display: block;
	margin-top: 10px;
}
 
blockquote cite:before {
	content: "\2014 \2009";
}
.content a.btn {padding:6px 12px;}
/****************************************************************** 
 * footer nav and images *
 *************************************************************************** */
.footWrap ul {
	list-style: none;
}
.footWrap li {
	
	list-style: none;
	vertical-align: middle;
	display: inline;
	line-height:33px;
}
.footWrap li a:link, .footWrap li a:visited {
	display:inline;
	text-decoration: none;
	}
.footWrap li a:hover, .footWrap li a:active {
	text-decoration:underline;
	}
img.ehl {margin-top:-3px;}
.footL {
	text-align: left;
	}
	
.footR {
	float: right;
	text-align: right;
	
	
	}

.footWrap img {display:inline;}
.footWrap li.lastLi {display:block;}



/****************************************************************** 
 * forms *
 *************************************************************************** */
label {
	display: block;
	margin: 2px 0 0 0;
	}

	
.appfield1 {

	box-shadow: 0 5px 5px #ddd inset;
}

/* --- 	This is your FOCUS style, when you click into an input field --- */
.appfield2 {
	width: 98%;
	border: 1px #c7c4bd solid;
	border-radius: 0;
	background: #efefef;
	padding:5px 0 2px 2px;
	box-shadow: 0 5px 5px #ddd inset;
}




/****************************************************************** 
 * tables *
 *************************************************************************** */
table { 
	}

.tableheader {
	background: ;
	color: ;
	font-weight: bold;
	padding:.3em 0;
	}
	
th {
	border-bottom: 1px solid #d9e2f6;
	background-color:;
	color:;
	text-align: left;
	padding:.3em 0;
	}
	
.tablecontent1 td {
	border-bottom: 1px solid #d9e2f6;
	background-color: #eff3fb;
	padding:.3em 15px;
	}
	
.tablecontent2 td {
	border-bottom: 1px solid #d9e2f6;
	background-color:#fff;
	padding:.3em 15px;
	}


/****************************************************************** 
 * etc formatting other *
 *************************************************************************** */
sup {font-size:.6em;}/*make sup smaller*/
.faqQ { 
	font-weight: bold;
	}

.faqQ { }
.faqA { }
	
.xsmall {
	font-size:.8em; 
	}
.small {
	font-size:.9em;
	}
.medium {
	font-size:1em;
	}
.large {
	font-size:1.1em;
	}
.xlarge{
	font-size:1.2em;
	}

.special3 {
	}
.special2 {
	}
.special1 {
	}

.disclaimer {
	color: #7e7e7e;
}
	
.required {
	color: #dd2525;
}

.center {
  text-align:center;
}
.floatLeft {
  float:left;
  margin:0 10px 10px 0;
}
.floatRight {
  float:right;
  margin:0 0 10px 10px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTION 980 plus DESKTOP ONLY-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 980px) {
#parallax .collapse {display:block;}
#parallax .container {width:100% !important;min-width:980px;}
#parallax .nav {
	width:100%;
	clear:both;
	display:inline-block;
	text-align:left;
	}
#parallax .nav li {
	display:inline-block; 
	width:auto;
	text-align:left;
	margin-bottom:8px;
	}
#parallax .nav li li {
	display:block; 
	text-align:left;
	margin-bottom:8px;
	list-style:none;
	}


#parallax .nav-collapse.collapse.in {
	
	height:auto !important; /* setting explicit height to activate animated slide */
	width:100%;
	}
.login-collapse.collapse {
	height: auto !important;
	overflow: visible !important;
	}

.content {min-height:450px;}
.backToTopButton {position:fixed; bottom:5px; right: .25%; padding:.4em;  width:22%;z-index:300;}

}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------smaller than desktop group---------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTION 979 and below ------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 979px) {
/*page slide*/
#content { width: 748px; }
/*page slide*/

.login-collapse .loginOB a:active, 
.login-collapse .loginOB a:hover {
	text-decoration:none; 
	
	}
body {
	padding-top: 0;
	}
a.badge {
	margin-right:10px;
	padding:6px !important;
	}
.loginOB row {margin:10px auto !important;}
.nav {
	width:100%;
	clear:both;
	display:block;
	text-align:left;
	}
.nav li {
	display:block; 
	text-align:left;
	margin-bottom:8px;
	}
.nav li li {
	display:block; 
	text-align:left;
	margin-bottom:8px;
	list-style:none;
	}

.flexslider {
	margin-bottom:35px !important;
	}

.nav-collapse.collapse.in {
	margin-top:5px;
	background:#fff;
	border-top:5px solid #333;
	height:480px !important; /* setting explicit height to activate animated slide */
	width:100%;
	}
.login-collapse.collapse.in {
	margin-top:5px;
	height:135px !important; /* setting explicit height to activate animated slide */
	width:100%;
	background:#fff;
	}
.login-collapse.collapse.in .loginArea {
	background:none;
	}
.login-collapse {
	margin-top:5px;
	height: 0 !important;
	}

.login-collapse {
	clear: left;
	}

.login-collapse {
	float: none;
	margin: 0 0 10px;
	}

.login-collapse li {
	float: none;
	}

.login-collapse,
.login-collapse.collapse {
	height: 0;
	overflow: hidden;
	}

.promoTxt {
	font-size:19px; 
	line-height:22px;
	margin-left:3%;
	background:#f7f7f7;
	}
.footWrap {margin-top:10px;}
.footWrap ul {
	display:block;
	min-height:1.6em;
	}
.footWrap li {
	display:inline;
	float:left; 
	margin-right:10px;
	}
.footR {text-align:right;}
.footL {text-align:left;}

.searchArea input {
	width:70%; 
	display:inline-block;
	min-width:200px;
	}
.searchArea a.btn {width:auto !important; max-width:80px; display:inline-block !important;}
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTION 768-979 tablet portrait --------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {


body {
	padding-left: 0;
	padding-right: 0;
	}


.searchArea {margin-top:-3px;}


}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTION 768 and below -------------------large phone------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 767px) {
/*page slide*/
#content { width: 400px; }
#content h1 { font-size: 22px; line-height: 30px; background-color: #ccc; color: #FFF; padding: 10px; }
#content ul#nav { display: none;margin-left:0; }
#content ul#nav ul, #content ul#nav li li {
	margin-left:0; 
	list-style:none;
	padding-left:0;
	}
.open { display: block; }
#pageslide { width: 180px; }
#pageslide #nav li { width:80%;padding: 10px 0; border-bottom: 1px solid #fff; list-style:none; margin-left:0; }
#pageslide #nav li a { color: #FFF; border: none; }
#pageslide #nav li a:hover { text-decoration: underline; }
/*page slide*/
/* arrows on promo*/
.flex-direction-nav {
	
	}
/*vertical spacing between column groups */
.mastWrap, .contentWrap .middle, .contentWrap .top, .contentWrap .bottom, .footWrap {
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
	}
.module {
	padding:.5em 15px;
	text-align:left;
	min-height:50px !important;
	}
.module ul {margin:0;}
.loginOB {margin:0;padding:0;}
.border-bottom {
	margin:5px 0;
	padding:0; 
	}
.ncua {display:none;}
.footL, .footL ul, 
.footR {
	text-align:center; 
	margin:0 auto; 
	width:auto;
	display:block;
	}
.footWrap ul {float:none;}
.footR li, .footL li {margin:0;float:none; text-align:center; width:100%;}
.footR li a {margin:.4em 11px;}
.footL li a {display:inline-block; margin-bottom:.4em;}
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTION 480 and below ----------------android phones-------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {

.login-collapse {
	-webkit-transform: translate3d(0, 0, 0);
	}

/* page slide */
#content { width: 280px; }
#content h1 { font-size: 14px; }
/* page slide */

}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTION 320 and below ------------small phones------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {

}

@media (max-width: 240px) {

}





/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------SECTIONINTERNET EXPLORER DESKTOP ONLY---------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------- strange ie */

.old_ie .login-collapse.collapse {
	height: auto !important;
	overflow: visible !important;
	}

.old_ie .content {min-height:450px;}
/* make old ie have grid working and not read in phone page */
.old_ie .container {
  width:980px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.old_ie .visible-lg, .old_ie .visible-md.visible-lg, .old_ie .visible-lg.visible-md {display:block !important;}
.old_ie .container:before,
.old_ie .container:after {
  display: table;
  content: " ";
}

.old_ie .container:after {
  clear: both;
}

.old_ie .container:before,
.old_ie .container:after {
  display: table;
  content: " ";
}

.old_ie .container:after {
  clear: both;
}

.old_ie .row {
  margin-right: -15px;
  margin-left: -15px;
}

.old_ie .row:before,
.old_ie .row:after {
  display: table;
  content: " ";
}

.old_ie .row:after {
  clear: both;
}

.old_ie .row:before,
.old_ie .row:after {
  display: table;
  content: " ";
}

.old_ie .row:after {
  clear: both;
}

.old_ie .col-xs-1,
.old_ie .col-xs-2,
.old_ie .col-xs-3,
.old_ie .col-xs-4,
.old_ie .col-xs-5,
.old_ie .col-xs-6,
.old_ie .col-xs-7,
.old_ie .col-xs-8,
.old_ie .col-xs-9,
.old_ie .col-xs-10,
.old_ie .col-xs-11,
.old_ie .col-xs-12,
.old_ie .col-sm-1,
.old_ie .col-sm-2,
.old_ie .col-sm-3,
.old_ie .col-sm-4,
.old_ie .col-sm-5,
.old_ie .col-sm-6,
.old_ie .col-sm-7,
.old_ie .col-sm-8,
.old_ie .col-sm-9,
.old_ie .col-sm-10,
.old_ie .col-sm-11,
.old_ie .col-sm-12,
.old_ie .col-md-1,
.old_ie .col-md-2,
.old_ie .col-md-3,
.old_ie .col-md-4,
.old_ie .col-md-5,
.old_ie .col-md-6,
.old_ie .col-md-7,
.old_ie .col-md-8,
.old_ie .col-md-9,
.old_ie .col-md-10,
.old_ie .col-md-11,
.old_ie .col-md-12,
.old_ie .col-lg-1,
.old_ie .col-lg-2,
.old_ie .col-lg-3,
.old_ie .col-lg-4,
.old_ie .col-lg-5,
.old_ie .col-lg-6,
.old_ie .col-lg-7,
.old_ie .col-lg-8,
.old_ie .col-lg-9,
.old_ie .col-lg-10,
.old_ie .col-lg-11,
.old_ie .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.old_ie .col-xs-1,
.old_ie .col-xs-2,
.old_ie .col-xs-3,
.old_ie .col-xs-4,
.old_ie .col-xs-5,
.old_ie .col-xs-6,
.old_ie .col-xs-7,
.old_ie .col-xs-8,
.old_ie .col-xs-9,
.old_ie .col-xs-10,
.old_ie .col-xs-11,
.old_ie .col-sm-1,
.old_ie .col-sm-2,
.old_ie .col-sm-3,
.old_ie .col-sm-4,
.old_ie .col-sm-5,
.old_ie .col-sm-6,
.old_ie .col-sm-7,
.old_ie .col-sm-8,
.old_ie .col-sm-9,
.old_ie .col-sm-10,
.old_ie .col-sm-11,
.old_ie .col-md-1,
.old_ie .col-md-2,
.old_ie .col-md-3,
.old_ie .col-md-4,
.old_ie .col-md-5,
.old_ie .col-md-6,
.old_ie .col-md-7,
.old_ie .col-md-8,
.old_ie .col-md-9,
.old_ie .col-md-10,
.old_ie .col-md-11,
.old_ie .col-lg-1,
.old_ie .col-lg-2,
.old_ie .col-lg-3,
.old_ie .col-lg-4,
.old_ie .col-lg-5,
.old_ie .col-lg-6,
.old_ie .col-lg-7,
.old_ie .col-lg-8,
.old_ie .col-lg-9,
.old_ie .col-lg-10,
.old_ie .col-lg-11 {
  float: left;
}

.old_ie .col-xs-1, .old_ie .col-sm-1, .old_ie .col-md-1, .old_ie .col-lg-1 {
  width: 8.333333333333332%;
}

.old_ie .col-xs-2, .old_ie .col-sm-2, .old_ie .col-md-2, .old_ie .col-lg-2 {
  width: 16.666666666666664%;
}

.old_ie .col-xs-3, .old_ie .col-sm-3, .old_ie .col-md-3, .old_ie .col-lg-3 {
  width: 25%;
}

.old_ie .col-xs-4, .old_ie .col-sm-4, .old_ie .col-md-4, .old_ie .col-lg-4 {
  width: 33.33333333333333%;
}

.old_ie .col-xs-5, .old_ie .col-sm-5, .old_ie .col-md-5, .old_ie .col-lg-5 {
  width: 41.66666666666667%;
}

.old_ie .col-xs-6, .old_ie .col-sm-6, .old_ie .col-md-6, .old_ie .col-lg-6 {
  width: 50%;
}

.old_ie .col-xs-7, .old_ie .col-sm-7, .old_ie .col-md-7, .old_ie .col-lg-7 {
  width: 58.333333333333336%;
}

.old_ie .col-xs-8, .old_ie .col-sm-8, .old_ie .col-md-8, .old_ie .col-lg-8 {
  width: 66.66666666666666%;
}

.old_ie .col-xs-9, .old_ie .col-sm-9, .old_ie .col-md-9, .old_ie .col-lg-9 {
  width: 75%;
}

.old_ie .col-xs-10, .old_ie .col-sm-10, .old_ie .col-md-10, .old_ie .col-lg-10 {
  width: 83.33333333333334%;
}

.old_ie .col-xs-11, .old_ie .col-sm-11, .old_ie .col-md-11, .old_ie .col-lg-11 {
  width: 91.66666666666666%;
}

.old_ie .col-xs-12, .old_ie .col-sm-12, .old_ie .col-md-12, .old_ie .col-lg-12 {
  width: 100%;
}
