/* Scss Document */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::   TABMENUS   :::::::::::::::::::::::::::::::::::::::::::::: 
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.tabDrops {
	@extend .col-sm-8;
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
		}
	}
.tabDrops .nav-tabs {
  border-bottom: none;
  @media (max-width: 767px) {
		text-align: center;
		}
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin: 7px 5px 7px 0;
	@media (max-width: 767px) {
		float: none;
		display: inline-block;
		margin: 7px 2px;
		}
	@media (max-width: 550px) {
		margin: 7px 0;
		}
    // Actual tabs (as links)
    > a {
	  font-size: 18px;
	  font-weight: 500;
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base;
      @media (max-width: 991px) {
		  font-size: 14px;
		  margin-top: 3px;
		  }
	   @media (max-width: 767px) {
		  font-size: 16px;
		  }
	   @media (max-width: 550px) {
		  font-size: 14px;
		  }
	   @media (max-width: 497px) {
		  font-size: 12px;
		  padding-left: 4px;
		  padding-right: 4px;
		  }
	  &:hover {
        @extend .btn-default;
		color: #000;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        @extend .btn-default;
      }
    }
  }
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}


.tabDrops .tab-content {
	position: absolute;
	z-index: 5000;
	min-width: 110%;
	background: #f8fafb;
	border-radius: $borderRadius1;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	ul {
		padding-bottom: 0px;
		padding-left: 0;
		list-style: none;
		}
	li {
		font-size: 14px;
		padding: 0;
		}
	li.levelOne {
		font-size: 17px;
		font-weight: 600;
		color: $brand-success;
		a {
			padding: 4px 8px;
			}
		}
	a {
		text-decoration: none;
		padding: 4px 8px 4px 14px;
		}
	a:hover,
	a:active,
	a:focus,
	a.active {
		background: rgba(218,220,220,.3);
		}
	@media (max-width: 767px) {
		left: 5px;
		max-width: 98%;
		min-width: auto;
		position: relative;
		}
	}
.tabDrops .tab-pane.active {
    padding: 15px 17px;
	display: block;
	border: none;
	@extend .clearfix;
	}


.tabDrops {
	@extend .col-sm-8;
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
		}
	}
.tabDrops .nav-tabs {
  border-bottom: none;
  @media (max-width: 767px) {
		text-align: center;
		}
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin: 7px 5px 7px 0;
	@media (max-width: 767px) {
		float: none;
		display: inline-block;
		margin: 7px 2px;
		}
	@media (max-width: 550px) {
		margin: 7px 0;
		}
    // Actual tabs (as links)
    > a {
	  font-size: 18px;
	  font-weight: 500;
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base;
      @media (max-width: 991px) {
		  font-size: 14px;
		  margin-top: 3px;
		  }
	   @media (max-width: 767px) {
		  font-size: 16px;
		  }
	   @media (max-width: 550px) {
		  font-size: 14px;
		  }
	   @media (max-width: 497px) {
		  font-size: 12px;
		  padding-left: 4px;
		  padding-right: 4px;
		  }
	  &:hover {
        @extend .btn-default;
		color: #000;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        @extend .btn-default;
      }
    }
  }
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}


.tabDrops .tab-content {
	position: absolute;
	z-index: 5000;
	min-width: 110%;
	background: #f8fafb;
	border-radius: $borderRadius1;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	ul {
		padding-bottom: 0px;
		padding-left: 0;
		list-style: none;
		}
	li {
		font-size: 14px;
		padding: 0;
		}
	li.levelOne {
		font-size: 17px;
		font-weight: 600;
		color: $brand-success;
		a {
			padding: 4px 8px;
			}
		}
	a {
		text-decoration: none;
		padding: 4px 8px 4px 14px;
		}
	a:hover,
	a:active,
	a:focus,
	a.active {
		background: rgba(218,220,220,.3);
		}
	@media (max-width: 767px) {
		left: 5px;
		max-width: 98%;
		min-width: auto;
		position: relative;
		}
	}
.tabDrops .tab-pane.active {
    padding: 15px 17px;
	display: block;
	border: none;
	@extend .clearfix;
	}


.tabDrops {
	@extend .col-sm-8;
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
		}
	}
.tabDrops .nav-tabs {
  border-bottom: none;
  @media (max-width: 767px) {
		text-align: center;
		}
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin: 7px 5px 7px 0;
	@media (max-width: 767px) {
		float: none;
		display: inline-block;
		margin: 7px 2px;
		}
	@media (max-width: 550px) {
		margin: 7px 0;
		}
    // Actual tabs (as links)
    > a {
	  font-size: 18px;
	  font-weight: 500;
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base;
      @media (max-width: 991px) {
		  font-size: 14px;
		  margin-top: 3px;
		  }
	   @media (max-width: 767px) {
		  font-size: 16px;
		  }
	   @media (max-width: 550px) {
		  font-size: 14px;
		  }
	   @media (max-width: 497px) {
		  font-size: 12px;
		  padding-left: 4px;
		  padding-right: 4px;
		  }
	  &:hover {
        @extend .btn-default;
		color: #000;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        @extend .btn-default;
      }
    }
  }
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}


.tabDrops .tab-content {
	position: absolute;
	z-index: 5000;
	min-width: 110%;
	background: #f8fafb;
	border-radius: $borderRadius1;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	ul {
		padding-bottom: 0px;
		padding-left: 0;
		list-style: none;
		}
	li {
		font-size: 14px;
		padding: 0;
		}
	li.levelOne {
		font-size: 17px;
		font-weight: 600;
		color: $brand-success;
		a {
			padding: 4px 8px;
			}
		}
	a {
		text-decoration: none;
		padding: 4px 8px 4px 14px;
		}
	a:hover,
	a:active,
	a:focus,
	a.active {
		background: rgba(218,220,220,.3);
		}
	@media (max-width: 767px) {
		left: 5px;
		max-width: 98%;
		min-width: auto;
		position: relative;
		}
	}
.tabDrops .tab-pane.active {
    padding: 15px 17px;
	display: block;
	border: none;
	@extend .clearfix;
	}



.navCol {
	float: left;
	display: inline-block;
	clear: none;
	margin-bottom: -11px;
		li {
		@media (max-width: 767px) {
			display: none;
			}
		}
		li.levelOne {
		@media (max-width: 767px) {
			display: block;
			}
		}
		@media (max-width: 767px) {
			float: none;
			display: block;
			clear: both;
			width: 100%;
			}
	}
#firstDrop .navCol {
	max-width: 33%;
	@media (max-width: 767px) {
		max-width: 100%;
		}
	}




