/* Scss Document */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
     ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::   sNAV   ::::::::::::::::::::::::::::::::::::::::::::::::::::: 
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.sNav {
  background: none;
  padding-bottom: 0;
  text-align: left;
  border-bottom: 2px solid #edf2f7;
  margin: 0; }

.sNav ul li.ttlSnav {
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 18px 18px 0;
  line-height: normal;
  font-weight: 600;
  border: none;
  }

.sNav ul {
  margin: 0;
  padding: 0 0 22px;
  background: rgba(14,92,103,.7); }

.sNav ul li {
  margin: 0 12px;
  padding: 6px 6px 6px 0;
  list-style: none;
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,.4);
  font-size: 16px; }

.sNav ul li a {
  text-decoration: none;
  color: #dae7f0;
  padding: 3px 12px 3px 7px;
  display: block; }

.sNav ul li.active,
.sNav ul li:hover,
.sNav ul li:focus {
  background: rgba(255, 255, 255, 0.2); }

.sNav ul li.ttlSnav.active,
.sNav ul li.ttlSnav:hover,
.sNav ul li.ttlSnav:focus {
  background: none;}

.sNav ul li.active a {
  color: #fff; }




