/* Scss Document */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
     :::::::::::::::::::::::::::::::::::::::::::::::::::   PROMO SMALL   :::::::::::::::::::::::::::::::::::::::::::::: 
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
     :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.promoSmallWrap,
.quickLinksWrap {
	@extend .col-md-4;
	@media (max-width: 767px) {
		padding: 0;
		}
	}
.promoSmallWrap {
	@extend .col-sm-6;
	}
.quickLinksWrap {
	@extend .col-sm-12;
	}
.promoSmall,
.quickLinks {
	padding: 0;
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	@media (max-width: 991px) {
		margin: 10px;
		}
	@media (max-width: 767px) {
		margin: 0 auto 30px;
		max-width: 80%;
		}
	@media (max-width: 550px) {
		max-width: 100%;
		}
	}
.promoSmall {
	img {
		width: 100%;
		}
	}




